<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User List</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }

    h1 {
      color: #333;
      text-align: center;
    }

    table {
      border-collapse: collapse;
      width: 100%;
      margin-top: 20px;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }
  </style>
</head>
<body>
<h1>User List</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>UUID</th>
    <th>Username</th>
    <th>Password</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Is Deleted</th>
    <th>Last Modified Date</th>
    <th>Registration Date</th>
    <th>Role</th>
    <th>Edit</th> <!-- Add a new column for the Edit link -->
    <th>Delete</th> <!-- Add a new column for the Delete link -->
  </tr>
  </thead>
  <tbody>
  <tr th:each="user, status : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.uuid}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.password}"></td>
    <td th:text="${user.firstname}"></td>
    <td th:text="${user.lastname}"></td>
    <td th:text="${user.email}"></td>
    <td th:text="${user.isDeleted}"></td>
    <td th:text="${user.lastModifiedDate}"></td>
    <td th:text="${user.registrationDate}"></td>
    <td th:text="${user.role}"></td>
    <td>
      <a th:href="@{'/users/edit/' + ${user.id}}">Edit</a> <!-- Add the Edit link with the user's ID  -->
    </td>
    <td>
      <!-- Add a delete form with a button to each row -->
      <form th:action="@{'/users/delete/' + ${user.id}}" method="post">
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<a href="/users/create">Create User</a>
</body>
</html>